* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
  font-size: 16px;
}
.responsive-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}
.responsive-table table {
  width: 100%;
}
.responsive-table thead {
  visibility: hidden;
  background: #a9a9a9;
}
.responsive-table thead tr > th {
  background: #c7c7c7;
}
@media screen and (min-width: 600px) {
  .responsive-table thead {
    visibility: visible;
  }
}
.responsive-table tr {
  /* border: 1px solid rgb(204, 202, 202);
  border-bottom: 2px solid #ddd; */
  padding: 1rem;
  margin-bottom: rem;
  display: block;
}
@media screen and (min-width: 600px) {
  .responsive-table tr {
    display: table-row;
    border-bottom-width: 1px;
    margin-bottom: 0;
  }
  .responsive-table tr:nth-child(odd) {
    background: #f7f5f5;
  }
  .responsive-table td {
    padding: 1px;
    /* text-align: left; */
  }
}
@media screen and (max-width: 500px) {
  .responsive-table th,
  .responsive-table td {
    text-align: center !important;
  }
  .responsive-table th{
    background: #9d9b9b;
  }
  .responsive-table td {
    display: block !important;
    font-size: 1rem !important;
    border-bottom: 1px dotted #ddd;
  }
  .responsive-table td:nth-child(odd) {
    background: #f7f5f5;
  }
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  text-align: left;
}
.responsive-table th {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.responsive-table td {
  display: block;
  text-align: right;
  font-size: 1rem;
  border-bottom: 1px dotted #ddd;
}
.responsive-table td:last-child {
  border-bottom: none;
}
@media screen and (min-width: 600px) {
  .responsive-table td {
    display: table-cell;
    text-align: left;
    font-size: 14px;
    border-bottom: none;
  }
  .fake-list {
    flex-direction: column;
  }
}
.responsive-table td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .responsive-table td:before {
    content: "";
    display: none;
  }

  .pagination {
    display: flex;
    width: 50%;
  }
  .pagination__link {
    margin: 2px;
  }
  .pageCount {
    padding: 1rem;
  }
  .pagination__link--active {
    /* border: 1px solid blue; */
    padding: 2px;
  }
  .previous,
  .next {
    /* padding: 0 10rem; */
    /* flex:0; */
    font-size: 1rem;
  }
  .page {
    width: 10vw;
  }
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  align-self: flex-start;
}
h1 > span {
  font-size: 4rem;
  color: #c7c7c7;
}
/* pagination */
.pagination {
  display: flex;
  width: 100%;
}
.pagination__link {
  margin: 2px;
}
.pageCount {
  display: none;
}
.pagination__link--active {
  /* border: 1px solid blue; */
  padding: 2px;
}

/* search */

.break {
  display: none;
}
/* .ulist{
  width: 100%;
  display: flex;
  justify-content: flex-end;
} */
.fake-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: start;
}
.ulist {
  flex: 1 1 auto;
  margin: 5px;
}
/* .fake-list{
  width: 100%;
} */
.input-search {
  text-align: left;
  border: 0;
  outline: none;
  width: 40vw;
  font-size: 1rem !important;
  appearance: none;
  border-bottom: 2px solid #000;
  margin-bottom: 1rem;
}
.input-label {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}
.ucheckbox-list {
  flex: 1 1 auto;
  text-align: left;
  padding: 2rem;
}
span {
  font-size: 2rem;
  font-weight: bold;
}

.checkbox {
  padding: 1rem;
  margin: 0;
  align-items: baseline;
}
.page {
  width: 100%;
}
.previous {
  text-align: left;
  color: #000;
  /* padding: 0 10rem; */
  flex: 1 1 400px;
  font-size: 4rem;
}
.next {
  text-align: right;
  color: #000;
  /* padding: 0 10rem; */
  flex: 1 1 400px;
  font-size: 4rem;
}
